#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

section {
  max-width: 90%;
  margin: 0 auto;
  text-align: left;
}

section h2 {
  font-size: 1.2rem;
  margin-bottom: 0;
}

.noticeList {
  margin-top: 5px;
  padding-left: 10px;
}

.imageList {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  max-width: 90%;
  margin: 40px auto 0;
  padding: 0;
}

.imageItem {
  border: 1px solid #eee;
  border-radius: 10px;
  padding: 10px 20px;
  transition: box-shadow 0.2s;
}

.imageItem:hover {
  box-shadow: 5px 6px 5px 0px rgba(148, 137, 137, 0.75);
}

.imageItem img {
  width: 100%;
  max-width: 90%;
  cursor: pointer;
}

figcaption p {
  text-align: left;
}

figcaption a {
  text-align: center;
}

label {
  display: inline-block;
  font-size: 20px;
  font-weight: bold;
  max-width: 500px;
}

label span {
  display: block;
}

input {
  height: 50px;
  width: 100%;
  border-radius: 10px;
  padding: 0 15px;
  box-sizing: border-box;
}

@media screen and (max-width: 768px) {
  section,
  .imageList {
    max-width: 100%;
  }

  .imageList {
    grid-template-columns: repeat(1, 1fr);
  }

  .imageItem {
    padding: 0;
  }

  .imageItem img {
    max-width: 100%;
  }

  label {
    max-width: 100%;
  }
}

:fullscreen {
  background-color: #eee;
}

.buttonWrapper {
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-direction: column;
}
.buttonWrapper button {
  border: 1px solid #eee;
  border-radius: 10px;
  padding: 10px 30px;
  transition: backgorund-color 0.25s;
  cursor: pointer;
  font-weight: bold;
}

.buttonWrapper button:hover {
  background-color: #ba121f;
  color: #fff;
}

.copyValue {
  width: calc(100% - 62px);
  margin: 10px auto 0;
  padding: 10px 30px;
  border: 1px solid #ba121f;
  border-radius: 10px;
  animation: show 0.25s;
  transition: opacity 0.25s, transform 0.25s;
}

@media screen and (min-width: 960px) {
  .copyValue {
    width: 30%;
  }

  .buttonWrapper {
    flex-direction: row;
  }
}

@keyframes show {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
